@use "variables.scss" as var;

@media screen and (max-width: 500px) {

  .app-window {
    width: 90vw !important;

    height: 25vh !important;
  }

  .holder {
    width: 80vw !important;
  }
 }


.app{
    &-window {
       background-color: var.$windowcolor;
       box-shadow: 5px 5px 15px #000000;
       border-radius: 15px;
   
       margin-top: 15vh;
       padding-bottom: 5vh;
       width: 50vw;
   
       height: 18vh;
       transition: 500ms;
     }
   
     &-title {
       background-color: var.$color1;
       color: var.$windowcolor;
       border-radius: 15px 15px 0px 0px;
   
       padding: 1.5vh;
       font-size: 25px;
       text-align: center;
   
       user-select: none;
     }
   
     &-counter {
       text-align: center;
   
       &-text {
         display: inline;
       }
   
       &-currency {
         max-width: 2vw;
   
         border-style: dashed;
         border-top: 0px;
         border-left: 0px;
         border-right: 0px;
         border-width: 1px;
   
         outline: none;
         border-radius: 2px;
         background-color: #f5f5f500;
   
       }
     }
     &-content {
       display: grid;
       justify-content: space-around;
   
       &-button {
         transition: 500ms;
   
         width: 100%;
   
         margin: 1%;
   
         border-style: none;
         border-radius: 3px;
   
         background-color: var.$color2;
   
         font-size: 15px;
         color: var.$windowcolor;
   
         &:hover {
           transition: 500ms;
   
           background-color: var.$color3;
         }
       }
   
       &-addingmenu{
         overflow: hidden;
         &-hidden {
           transform: translateY(-8vh);
           z-index: 1;
   
           transition: 500ms;
         }
       
         &-input {
           transition: 500ms;
   
           width: 49%;
   
           border: none;
           outline: none;
           border-radius: 2px;
           background-color: var.$darkerwindowcolor;
   
           color: var.$windowcolor;
   
           margin: 1% 0.5%;
   
           &::placeholder {
             color: var.$windowcolor;
   
             font-style: italic;
           }
   
           &:not(:placeholder-shown) {
             transition: 500ms;
   
             border-radius: 2px;
             background-color: var.$darkerwindowcolor;
           }
         }
       }
     }
   }
