@use "variables.scss" as var;

.footer {
  
    background-color: var.$color3;
    color: var.$windowcolor;
    box-shadow: 5px 5px 15px #000000;
  
    display: flex;
    justify-content: center;
  
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    &-text {
  
      font-size: 17px;
  
      &-link {
  
        transition: 0.3s;
  
        color: var.$darkerwindowcolor;
        font-size: 18px;
  
        &:hover {
  
          font-size:20px;
  
        }
      }
      
    }
  }