//* variables 
$bgcolor: #bcfcba;
$windowcolor: #fafafa;
$darkerwindowcolor: hsl(0, 0%, 68%);

$color1: hsl(199, 81%, 36%);
$color2: hsl(199, 81%, 56%);
$color3: hsl(199, 51%, 36%);

* {
  //border: 1px;
  //border-style: solid;
  z-index: 2;

  font-family: 'Manjari', sans-serif;
}

html {
  background-color: $bgcolor;
  display: flex;
  justify-content: center;
}

.line {
  display: flex;
  justify-content: center;

  background-color: $windowcolor;
}

.holder {
  width: 30vw;
}

.app{
 &-window {
    background-color: $windowcolor;
    box-shadow: 5px 5px 15px #000000;
    border-radius: 15px;

    margin-top: 30vh;
    padding-bottom: 5vh;
    width: 50vw;

    height: 18vh;
    transition: 500ms;
  }

  &-title {
    background-color: $color1;
    color: $windowcolor;
    border-radius: 15px 15px 0px 0px;

    padding: 1.5vh;
    font-size: 25px;
    text-align: center;

    user-select: none;
  }

  &-counter {
    text-align: center;

    &-text {
      display: inline;
    }
  }
  &-content {
    display: grid;
    justify-content: space-around;

    &-button {
      transition: 500ms;

      width: 100%;

      margin: 1%;

      border-style: none;
      border-radius: 3px;

      background-color: $color2;

      font-size: 15px;
      color: $windowcolor;

      &:hover {
        transition: 500ms;

        background-color: $color3;
      }
    }

    &-addingmenu{
      overflow: hidden;
      &-hidden {
        transform: translateY(-8vh);
        z-index: 1;

        transition: 500ms;
      }
    
      &-input {
        transition: 500ms;

        width: 49%;

        border: none;
        border-radius: 2px;
        background-color: $darkerwindowcolor;

        color: $windowcolor;

        margin: 1% 0.5%;

        &:not(:placeholder-shown) {
          transition: 500ms;

          border-radius: 2px;
          background-color: $darkerwindowcolor;
        }
      }
    }
  }
}

.modal {
  border-radius: 15px;
  border-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &-content {
    &-label {
      display: grid;
      grid-template-columns: 30% 30% 30%;
    }
    &-table{
      &-entry {
        display: grid;
        grid-template-columns: 5% 32.5% 32.5% 15% 15%;
        height: fit-content;
      }
    }
  }
}

.active{
 &-button{
  background-color: $color3;

  &:hover {
    background-color: $color2;
  }
 }

 &-segment{
  transition: 500ms;

  transform: translateY(0);
 }

 &-window{
  transition: 500ms;

  height: 26vh;
 }
}
