//* variables 
$bgcolor: #bcfcba;
$windowcolor: #fafafa;
$darkerwindowcolor: hsl(0, 0%, 68%);

$color1: hsl(199, 81%, 36%);
$color2: hsl(199, 81%, 56%);
$color3: hsl(199, 51%, 36%);

$color4: hsl(199, 81%, 26%);
$color5: hsl(0, 0%, 88%);

$oddColor: #dddddd;
$evenColor: #f5f5f5;

$closeButton: hsl(0, 63%, 61%);
$closeButtonOnHover: hsl(0, 63%, 41%);

$rowheight: 20px;

* {
  z-index: 2;

  font-family: 'Manjari', sans-serif;
}

html {
  background-color: $bgcolor;
  display: flex;
  justify-content: center;
}

.line {
  display: flex;
  justify-content: center;

  background-color: $windowcolor;
}

.holder {
  width: 30vw;
}

.app{
 &-window {
    background-color: $windowcolor;
    box-shadow: 5px 5px 15px #000000;
    border-radius: 15px;

    margin-top: 30vh;
    padding-bottom: 5vh;
    width: 50vw;

    height: 18vh;
    transition: 500ms;
  }

  &-title {
    background-color: $color1;
    color: $windowcolor;
    border-radius: 15px 15px 0px 0px;

    padding: 1.5vh;
    font-size: 25px;
    text-align: center;

    user-select: none;
  }

  &-counter {
    text-align: center;

    &-text {
      display: inline;
    }
  }
  &-content {
    display: grid;
    justify-content: space-around;

    &-button {
      transition: 500ms;

      width: 100%;

      margin: 1%;

      border-style: none;
      border-radius: 3px;

      background-color: $color2;

      font-size: 15px;
      color: $windowcolor;

      &:hover {
        transition: 500ms;

        background-color: $color3;
      }
    }

    &-addingmenu{
      overflow: hidden;
      &-hidden {
        transform: translateY(-8vh);
        z-index: 1;

        transition: 500ms;
      }
    
      &-input {
        transition: 500ms;

        width: 49%;

        border: none;
        border-radius: 2px;
        background-color: $darkerwindowcolor;

        color: $windowcolor;

        margin: 1% 0.5%;

        &:not(:placeholder-shown) {
          transition: 500ms;

          border-radius: 2px;
          background-color: $darkerwindowcolor;
        }
      }
    }
  }
}

.modal {
  border-radius: 15px;
  border-style: none;
  padding: 0px;

  background-color: $windowcolor;

  &::-webkit-scrollbar {
    display: none;
  }

  &-top {
    display: flex;
    justify-content: space-between;

    background-color: $color4;
    border-radius: 15px 0px 0px;

    &-title {
      margin-left: 2vw;
      font-size: 30px;
      height: 20px;

      color: $windowcolor;

      user-select: none;
    }

    &-button {
      transition: 500ms;

      border-style: none;
      border-radius: 0px 15px 0px 0px;

      padding-top: 5px;

      width: 62px;
      height: 62px;

      background-color: $closeButton;
      font-size: 35px;
      color: $windowcolor;

      user-select: none;

      &:hover {
        transition: 500ms;

        background-color: $closeButtonOnHover;
      }
    }
  }

  &-content {

    &-label {
      padding-right: 10px;
      padding-left: 15px;

      display: grid;
      grid-template-columns: 5% 30% 30%;

      justify-content: left;

    }

    &-table{

      &-entry {
        display: grid;
        grid-template-columns: 5% 30% 30% 15% 15%;
        height: 30px;

        padding-top: 5px;

        justify-content: center;

        &-id {
          font-size: 15px;
          margin: auto;
        }

        &-title {
          height: $rowheight;
          margin: 2px 5px;

          outline: none;

          border-style: dashed;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;

          border-width: 1px;

          background-color: #f5f5f500;
        }

        &-ammount {
          height: $rowheight;
          margin: 2px 5px;

          outline: none;

          border-style: dashed;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;

          border-width: 1px;

          background-color: #f5f5f500;
        }

        &-edit-button {
          height: calc($rowheight + 6px);
          margin: 0px 5px;
        }

        &-delete-button {
          height: calc($rowheight + 6px);
          margin: 0px 5px;
        }
      }
    }
  }
}

.active{

 &-button{
  background-color: $color3;

  &:hover {
    background-color: $color2;
  }
 }

 &-segment{
  transition: 500ms;

  transform: translateY(0);
 }

 &-window{
  transition: 500ms;

  height: 26vh;
 }
}

.odd {
  background-color: $oddColor;
}

.even {
  background-color: $evenColor;
}

#clearModal {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//* To jest zmiana w kodzie *//
//! do usunięcia -->